:root {
  --secondary: #9161db;
  --primary: #cf3387;
  --tertiary: #ffa46e;
  --text: #f7f7f7;
  --gray-500: #2c2c2c;
}

.slidev-layout {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span {
    color: var(--text);
  }

  h1 {
    color: var(--secondary);
    margin-bottom: 12px;
  }
  
  h3 {
    color: var(--primary);
    margin-bottom: 8px;
  }

  h4 {
    color: var(--tertiary);
    margin-bottom: 12px;
  }

  margin-bottom: 12px;
}

.mini {
  font-size: 13px;
  margin-top: -0.8rem !important;
  margin-bottom: 4px !important;
  opacity: 0.5;
}
.closer {
  margin-top: -0.4rem !important;
}

blockquote {
  margin-bottom: 8px;
}

.slidev-page {
  background-color: var(--gray-500);
}

.contain {
  object-fit: contain !important;
  background-size: contain !important;
}